
h1, h2, h3 {
    color: #2C3E50; /* Títulos en un tono gris oscuro */
}

a {
    text-decoration: none;
    color: #D33B47;
    transition: color 0.3s ease;
}

a:hover {
    color: #C0392B; /* Un rojo un poco más oscuro para el hover */
}

/* Profile Header */
.profile-header {
    background-color: #FFFFFF; /* Fondo blanco para resaltar el contenido */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave para elevar el contenido */
    border-radius: 12px;
    padding: 20px;
    text-align: center;
}

.profile-photo {
    border-radius: 50%;
    border: 4px solid #D33B47;
    transition: transform 0.3s ease;
}

.profile-photo:hover {
    transform: scale(1.05); /* Sutil zoom al pasar el ratón */
}

.profile-info h1 {
    font-size: 2rem;
    font-weight: 700;
}

.profile-info p {
    font-size: 1rem;
    color: #7F8C8D; /* Gris medio para el texto secundario */
    margin-top: 10px;
}

.cv-link {
    font-size: 0.9rem;
    font-weight: 500;
}

.edit-profile-link button {
    background-color: #D33B47;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.edit-profile-link button:hover {
    background-color: #C0392B; /* Efecto hover en botón */
}

/* Profile Content Sections */
.profile-content {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
}

@media(min-width: 768px) {
    .profile-content {
        grid-template-columns: repeat(3, 1fr);
    }
}

.posts-section, .projects-section, .communities-section {
    background-color: #FFFFFF;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 20px;
}

.posts-section h2, .projects-section h2, .communities-section h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: #2C3E50;
}

.posts-section ul, .projects-section ul, .communities-section ul {
    list-style: none;
    padding: 0;
}

.posts-section li, .projects-section li, .communities-section li {
    margin-bottom: 1.5rem;
}

.posts-section .post-header {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.posts-section .post-header img {
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    margin-right: 0.75rem;
}

.projects-section a, .communities-section a {
    font-size: 1rem;
    font-weight: 500;
    transition: color 0.3s ease;
}

.projects-section a:hover, .communities-section a:hover {
    color: #C0392B;
}
